body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(65, 111, 122);
    }

.navbar {
    margin: 10px;
    border-radius: 100px;
    display: flex;
    justify-content: center; 
    align-items: stretch;
    background-color: #333;
    padding: 10px 20px;
    }

.navbar img{
    width:auto;
    height: 5vh;
    margin-right:auto;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    }


.ending{
    top: 20vh;
    margin:20px;
    text-align: center;
    border-radius: 100px;
    background-color: #333;
    margin-top: 1px;
    padding:1px;
    color: #ffffff;
}

.menuitems{
    justify-items: center;
    justify-content: center;
    align-items: center;    
    padding-left:7%;
    height: 770px;
}

.menuitems img{
    border: 3px solid rgb(220, 180, 4);
    background-color: rgb(255, 155, 4);
    border-radius:25px;
    display:flexbox;
    flex:33.33%;
    width: 370px;
    height:225px;
    padding:5px;
    }
.menuitems img:active{
    padding:0%;
    width:760px;
    height:auto;
    transition-duration:0.25s;
}

.menuitems img:hover{
    opacity: 0.5;
}